@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  text-align: center;
  background-color: #a0db8e;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  margin: 5% 25%;
  color: #444;
}

.formContainer {
  text-align: center;
}

.formBox {
  display:inline-block;
  text-align: left;
}

fieldset {
  border: 2px solid;
  border-color: #444;
}

legend {
  font-weight: bold;
}

label{
  display:inline-block;
  width:130px;
  text-align: right;
}

h2 {
  font-size:40px;
}