<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animal Shelter</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>ANIMAL SHELTER</h1>
    <div class="formContainer">
      <fieldset>
        <legend>Login</legend>
        <div class="formBox">
          <form>
            Username:<br> <input type="text" name="username" style="width:96.8%;"> <br>
            Password: <br> <input type="password" name="password" style="width:96.8%;"> <br><br>
            <input type="submit" value="Login" style="width:100%;height:30px;">
          </form>
        </div>
      </fieldset>
      <small><a href="/main/registration/volunteer">>>Create volunteer account</a></small> &nbsp;
      <small><a href="/main/registration/shelter">>>Create shelter account</a></small>
    </div>
    <footer>2017 Hackathon &nbsp; | &nbsp; <a href="https://github.com/audaniel9/hackathon">Source</a></footer>
  </body>
</html>